<% if (page.comment){ %>
<section id="comment">
  <h2 class="title"><%= __('comment') %></h2>
  <% if (theme.comment_js) { %>  	 
	 <div id="comment-thread"></div>
	 <div id="loading-spin"></div>
	 <script type="text/javascript">
	   getComments({
           type: "<%= theme.comment_js.type %>" ? "<%= theme.comment_js.type %>" : "github",       
	       user: "<%= theme.comment_js.user %>",
	       repo: "<%= theme.comment_js.repo %>",
		   client_id: "<%= theme.comment_js.client_id %>",
           client_secret: "<%= theme.comment_js.client_secret %>",
		   no_comment: "<%= __('no_comment') %>",
		   go_to_comment: "<%= __('go_to_comment') %>",
		   no_issue: "<%= __('no_issue') %>",
		   issue_title: "<%= page.title %>",
		   issue_id: "<%= page.issue_id %>",
		   btn_class: "btn btn-primary",
		   comments_target: "#comment-thread",
		   loading_target: "#loading_spin"
		   });
	 </script>
  <% } else if(theme.duoshuo_shortname) { %>
  	 <div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>  
  <% } else if(config.disqus_shortname) { %>
  	 <div id="disqus_thread">
     <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  	 </div>
  <% } %>
</section>
<% } %>
