<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="<%- config.root %>"><%= config.title %></a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="nav-collapse collapse">
            <ul class="nav">				
			    <% for (var i in theme.menu){ %>
				   <li><a href="<% if (cache) { %><%- theme.menu[i].url %> <% } else { %><%- theme.menu[i].url %><% } %>" title="<%- theme.menu[i].intro %>"><i class="<%- theme.menu[i].icon %>"></i>&nbsp; <%= theme.menu[i].title %></a></li>				   				    
    			<% } %>
				<% if (theme.wiki){ %>
				<li class="divider-vertical"></li>
			   	<li><a href="<% if (cache) { %><%- theme.wiki[0].url %> <% } else { %><%- theme.wiki[0].url %><% } %>" title="<%- theme.wiki[0].intro %>"><i class="<%- theme.wiki[0].icon %>"></i>&nbsp; <%= theme.wiki[0].title %></a></li>				   
				<% } %>
            </ul>			
            </div> <!-- nav-collapse collapse -->
        </div> <!-- container -->
     </div> <!-- navbar-inner -->
</div> <!-- navbar navbar-inverse -->